/* google font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

.poppins{
    font-family: 'Poppins', sans-serif;
}

/* carousel styles start */
.carousel-item {
    height: 40rem;
    background: #777;
    position: relative;
    background-position: center;
    background-size: cover;

}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    background: #000;
    opacity: 0.5;
}

.container-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 200px;
}
/* carousel styles end */

/* buttons start  */
.custom-button{
    background-color: #289BDE;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}
.custom-button-modal{
    background-color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: #289BDE;
    font-weight: 500;
    text-decoration: none;
}

/* buttons end  */

.custom-text-color{
    color: #289BDE;
}
.custom-bg{
    background-color: #289BDE;
}

