/* google font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

.poppins{
    font-family: 'Poppins', sans-serif;
}
/* buttons start  */
.custom-button{
    background-color: #289BDE;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}
.custom-button-modal{
    background-color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: #289BDE;
    font-weight: 500;
    text-decoration: none;
}

/* buttons end  */

.custom-text-color{
    color: #289BDE;
}
.custom-bg{
    background-color: #289BDE;
}
/* meadia query for extra small device */

@media only screen and (max-width: 576px) {
    .carousel-caption h1{
        font-size: 1rem;
    }
    .carousel-caption p{
        font-size: 0.5rem;
    }
}

/* meadia query for small device */

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .carousel-caption h1{
        font-size: 1.50rem;
    }
    .carousel-caption p{
        font-size: 0.75rem;
    }
}